extends layout

block content
  h1= title

  p 
  | #{user_delete.name}
  | #{user_delete.surname}
  br
  br
  p #[Strong Do you really want to delete this User?]

    form(method='POST' action='')
      div.form-group
        input#userid.form-control(type='hidden',name='userid', required='true', value=user_delete.id )

      button.btn.btn-primary(type='submit') Delete
